.csv-drop {
  border: 2px solid rgb(99, 99, 99);
  display: inline-block;
  padding: 30px 80px;
  border-radius: 5px;

  transition: 0.15s ease;

  &.highlight {
    border-color: rgb(47, 173, 47);
    background-color: rgba(47, 173, 47, 0.1);
    transform: scale(1.02);
    .csv-drop-text {
      color: rgb(99, 99, 99);
    }
  }

  .csv-drop-text {
    position: relative;
    z-index: -1;
  }
}
